* {
	margin: auto;
	max-width: 1000px;
}

.page-header {
	padding-bottom: 30px;
}

.row {
	margin: 0px;
	margin-bottom: 15px;
}

.change-count {
	margin-bottom: 25px;
}

.label-container {
	width: 100%;
}

.model-label {
	color: gray;
	float: right;
}

.enjoy {
	opacity: 0.5;
	color: gray;
	margin-top: 50px;
}
